@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --party-pink: #ff2b85;
  --inactive-text: #6c7681;
  --secondary-text: #52585e;
  --hovered-container: #f0f2f2;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --party-pink: #ff2b85;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif, Arial, Helvetica;
}

/* Cuisine Carousel */
.cuisine-carousel-container {
  margin: 24px 0 24px 0;
}

.cuisine-carousel-item-padding-12-px {
  padding: 12px;
}
